CONFIG_ARM=y
CONFIG_ARCH_MVEBU=y
CONFIG_SYS_MALLOC_F_LEN=0x2000
CONFIG_TARGET_LS440=y
CONFIG_SPL_SYS_MALLOC_SIMPLE=y
CONFIG_DEFAULT_DEVICE_TREE="armada-370-buffalo-ls441de"
CONFIG_SPL=y
CONFIG_SYS_PROMPT="LS440> "
# CONFIG_CMD_IMLS is not set
CONFIG_SPL_OF_TRANSLATE=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_SYS_NS16550=y
CONFIG_OF_LIBFDT=y
